a {
  color: inherit;
}
h1 {
  font-weight: 900;
  font-size: 1.8em;
}
h2 {
  font-weight: 600;
  font-size: 1.6em;
}
.navbar {
  display: inline-flex;
  justify-content: flex-end;
  position: absolute;
  top: 115px;
  right: 1vw;
  width: 73vw;
  max-width: 1100px;
  z-index: 200;
  align-items: baseline;
  color: white;
  white-space: nowrap;
}
.navbar a {
  text-decoration: none;
}
.menuItem {
  font-size: 0.9em;
  list-style-type: none;
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 2px 18px;
  color: black;
}
.menuItem:hover {
  background-color: #e5007e;
  color: white;
  transition: background 0.3s ease-in-out;
}
.menuItem a:hover {
  color: white;
}
.col-dropdown {
  width: 14vw;
  flex-grow: 1;
}
.dd-content {
  display: none;
  justify-content: space-between;
  position: absolute;
  background-color: whitesmoke;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  width: 95vw;
}
.dd-content a {
  font-size: 1em;
}
.dropdown:hover .dd-content {
  display: flex;
  justify-content: space-between;
  color: black;
  animation: fade 0.7s;
}

.office {
  /* left: -170px; */
  right: 10px;
}
.row-dropdown {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
/* Style links inside the col-dropdowns */
.col-dropdown a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a background color on hover */
.col-dropdown a:hover {
  background-color: #ddd;
  color: #e5007e;
}

.subheader {
  background-color: black;
  padding: 10px 4px;
  border-bottom: 2px solid #e5007e;
  color: white;
  font-weight: 600;
}
.subheader a {
  color: inherit;
}
.subheader a:hover {
  padding: 16px;
}
.submenu {
  padding: 2px 6px;
  color: black;
}
.small-height {
  line-height: 1.1em;
}
.submenu a {
  color: black;
}
.submEco {
  padding: 2px 20px;
  /* right: 1px; */
  width: 25%;
}

/* Simple dorpdown - no mega */
.office-paper {
  position: absolute;
  left: auto;
  right: auto;
  width: 20vw;
}
.smaller {
  position: absolute;
  left: auto;
  right: auto;
}
.branding {
  width: 10vw;
}

.dwn {
  font-size: 0.5em;
}
/* top nav font size adjust */
.header .utility-navigation ul li a {
  font-size: smaller;
}
/* reduce spacing btw left menu items */
.panel ul li {
  padding: 0;
  line-height: 1;
}

#footer-wrapper {
  background-color: #fafafa;
}
@media screen and (min-width: 1024px) {
  .main-navigation {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .navbar {
    display: none !important;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#footer-wrapper {
  background-image: url("https://cdn-asset-stl-1.airsquare.com/repropoint/library/pattern-fade-transparent-25.png");
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: right;
}

.grid_3.navigation.alpha::after {
  content: url(https://cdn-asset-stl-1.airsquare.com/repropoint/library/logo-space-top.png);
}

.product-category-panel-listing.over-image h3,
.product-category-listing.over-image h3 {
  font-size: 1.2em;
}
.overlay-heading h3 {
  background-color: #e5007e;
  font-weight: 900;
  padding: 3px 8px;
}
.overlay-background {
  opacity: 0.05 !important;
  border-radius: 15px;
}
.header-slideshow-pager.dash {
  z-index: 199;
}
/* Make logo stand to the left */
#header-bottom-layout-top {
  justify-content: flex-start;
}
/* Make logo smaller */
#header-bottom-logo img {
  width: 200px;
}
/* New category image boxes */
.listing-landscape-4-3 img {
  max-height: 15vw;
}
.listing-landscape-4-3 h4 {
  background-color: rgba(255, 255, 255, 0.6);
  color: #e5007e;
  font-weight: 900;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  padding: 0 6px;
}
/* Remove original footer */
#footer-top {
  display: none;
}
